
@media (min-width: 576px) {
    .rounded-nav {
      border-radius: 50rem !important;
    }
  }
  
  @media (min-width: 576px) {
    .rounded-nav .nav-link {
      border-radius: 50rem !important;
    }
  }
  
  /* With arrow tabs */
  
  .with-arrow .nav-link.active {
    position: relative;
  }
  
  .with-arrow .nav-link.active::after {
    content: '';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #2b90d9;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    display: block;
  }
  
  /* lined tabs */
  
  .lined .nav-link {
    border: none;
    border-bottom: 3px solid transparent;
  }
  
  .lined .nav-link:hover {
    border: none;
    border-bottom: 3px solid transparent;
  }
  
  .lined .nav-link.active {
    background: none;
    color: #555;
    border-color: #2b90d9;
  }
  

  .nav-pills .nav-link {
    color: #555;
  }
  .text-uppercase {
    letter-spacing: 0.1em;
  }

  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    /* border:1px solid #555;
    border-radius: 10px;  */
   
    
    .card {
      display: inline-block;
    }
  }
  

  .scroll-buttons {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  /* .scroll-buttons span {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    cursor: pointer;
    z-index: 1;
  }
  
  .scroll-buttons .scroll-left {
    left: 10px;
  }
  
  .scroll-buttons .scroll-right {
    right: 10px;
  } */

  .card-cascade{
    min-width: 260px;
    min-height: 400px;
  }